REPO_URL=https://github.com/jalsarraf0/SSH-Hunt
ACCESS_TOKEN=replace_with_pat_repo_and_workflow_scope
RUNNER_NAME=ssh-hunt-runner-01
RUNNER_NAME_PREFIX=ssh-hunt-runner
LABELS=self-hosted,linux,x64,ssh-hunt
RUNNER_SCOPE=repo
RUNNER_EPHEMERAL=false
RUNNER_DISABLE_AUTO_UPDATE=true
RUNNER_TOTAL_CPU_FRACTION=0.75
RUNNER_TOTAL_COUNT=5
RUNNER_CPU_LIMIT_PER_CONTAINER=0.1500
RUNNER_DOCKER_GID=976
