REPO_URL=https://github.com/jalsarraf0/SSH-Hunt
ACCESS_TOKEN=replace_with_pat_repo_and_workflow_scope
RUNNER_NAME=ssh-hunt-runner-01
LABELS=self-hosted,linux,x64,ssh-hunt
RUNNER_SCOPE=repo
RUNNER_EPHEMERAL=false
RUNNER_DISABLE_AUTO_UPDATE=true
